* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    width: 800px;
    margin: 0 auto;
    padding: 10px 15px;
}

.post__item {
    border: 2px solid #40a9ff;
    padding: 15px;
    margin-bottom: 15px;
}

.post__item_content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.post__item_actions {
}

.post_form {
    margin-bottom: 15px;
}

.posts_actions {
    display: flex;
    justify-content: flex-start;
}